/* ==========================================
   HERO SECTION
============================================= */

.hero {
    position: relative;
    min-height: calc(100vh - var(--navbar-height));
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.hero-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    inset: 0;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

/* ==========================================
   MODAL SECTION
============================================= */

.github-item-wrapper {
    border-bottom: 1px solid var(--bs-secondary);
}

.github-item-wrapper:last-child {
    border-bottom: none;
}

.github-item-icon {
    float: left;
}

/* ==========================================
   ABOUT AND SKILLS SECTION
============================================= */

.skill-title,
.skill-value {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

/* ==========================================
   TRANSITIONS
============================================= */

/* Transition de la modale */

.modal.fade .modal-dialog {
    transform: translateY(120px) scale(0.92);
    opacity: 0;
    filter: blur(6px);
    transition: 
        transform 0.5s cubic-bezier(0.1, 1.25, 0.25, 1),
        opacity 0.35s cubic-bezier(0.25, 1.25, 0.25, 1),
        filter 0.5s cubic-bezier(0.1, 1.25, 0.25, 1);
}

.modal.fade.show .modal-dialog {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
}