@import './reset.css';

/* ==========================================
   GLOBAL STYLES
============================================= */

:root {
  --navbar-height:56px;
}

/* Layout global */
html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-top: var(--navbar-height);
}

/* Typographie */
body {
  margin: 0;
  font-family: "Nunito Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 400;
}

/* Titres et <strong> */
h1, h2, h3, h4, h5, h6,
strong {
  font-weight: 600;
}

/* Navbar */
.nav-link {
  text-transform: uppercase;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  text-decoration: underline;
  font-weight: 700;
}

.nav-link.pending {
  opacity: 0.6;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* Footer */

footer * {
  margin: 0.1rem 0;
}

.bi:hover {
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  font-weight: 700;
}

/* Cards */
.card-hover:hover {
    background-color: #efefef;
    box-shadow: var(--bs-box-shadow-sm);
}