@import './reset.css';

/* ==========================================
   GLOBAL STYLES
   ========================================== */

/* Typographie */
body {
  margin: 0;
  font-family: "Nunito Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 400;
}

/* Titres et <strong> */
h1, h2, h3, h4, h5, h6,
strong {
  font-weight: 600;
}

/* Mise en forme des hyperliens */
.nav-link {
  text-transform: uppercase;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  text-decoration: underline;
  font-weight: 700;
}

.nav-link.pending {
  opacity: 0.6;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: white;
}