/* ==========================================
   HERO SECTION
============================================= */

.hero {
    position: relative;
    background-image: url('/src/assets/images/hero-bg.jpg');
    min-height: calc(100vh - var(--navbar-height));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    inset: 0;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

/* ==========================================
   MODAL SECTION
============================================= */

.github-item-wrapper {
    border-bottom: 1px solid var(--bs-secondary);
}

.github-item-wrapper:last-child {
    border-bottom: none;
}

.github-item-icon {
    float: left;
}