@import './reset.css';
@import "../pages/home.css";
@import "../pages/portfolio.css";
@import "../pages/contact.css";

/* ==========================================
   GLOBAL STYLES
============================================= */

:root {
  --navbar-height:56px;
}

/* Layout global */
html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-top: var(--navbar-height);
}

/* Typographie */
body {
  margin: 0;
  font-family: "Nunito Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 400;
}

/* Titres et <strong> */
h1, h2, h3, h4, h5, h6,
strong {
  font-weight: 600;
}

/* Navbar */
.nav-link {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

.nav-link:hover,
.nav-link.active {
  text-decoration-color: currentColor;
  text-underline-offset: 3px;
}

.nav-link.pending {
  opacity: 0.6;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* Footer */
footer * {
  margin: 0.1rem 0;
}

.footer-title {
  font-size: 1.25rem;
  font-weight: 600;
}

footer .bi:hover {
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  font-weight: 700;
}

/* Cards */

.card-title {
  font-size: 1.5rem;
}

.card-hover:hover {
    background-color: #efefef;
    box-shadow: var(--bs-box-shadow-sm);
}

/* Transitions globales */
button,
.btn:hover,
a,
a i,
.card,
img {
  transition: all 0.20s ease-in-out;
}

/* Transitions spécifiques */
.nav-link {
  transition:
    text-decoration-color 0.35s cubic-bezier(0.3, 0, 0.7, 1),
    text-underline-offset 0.35s cubic-bezier(0.3, 0, 0.7, 1),
    color 0.25s ease-in-out;
}

.card-services:hover,
.card-portfolio:hover,
footer a i:hover {
    transform: scale(1.02);
}